.mascota-container {
    justify-content: center;
    align-content: center;
}

h1 {
    font-size: 60px;
}

h2, h3 {
    font-size: 35px;
}

.vidas-parrafo {
    font-size: 34px;
}

.ataque {
    font-size: 28px;
    margin: 25px;
}

#mensajes{
    display: grid;
    grid-template-columns:1fr 1fr;
    color: white;
    margin: 40px;
    font-family: 'Catamaran', sans-serif;
    place-items: center;
    place-content: center;
}

.ataques {
    width: 250px;
    font-size: 25px;
}

#resultadoFinal {
    width: 600px;
    height: 200px;
    bottom: 200px;
    left: 600px;
}
#reiniciarBtn {
    width: 300px;
    height: 100px;
    border: none;
    background-color: var(--baby-blue-eyes);
    border-radius: 10px;
    color: rgba(255, 102, 0, 0.918);
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 1px -1px 13px 3px rgb(240, 58, 45);
}