* {
    margin: 0;
    padding:0;
}

:root {
--pink-lavender: hsla(278, 35%, 78%, 1);
--orchid-pink: hsla(337, 100%, 89%, 1);
--nadeshiko-pink: hsla(338, 100%, 84%, 1);
--uranian-blue: hsla(208, 97%, 87%, 1);
--baby-blue-eyes: hsla(209, 100%, 82%, 1);
}

body {
    background: linear-gradient(90deg, rgba(205,180,219,1) 0%, rgba(255,200,221,1) 25%, rgba(255,175,204,1) 47%, rgba(189,224,254,1) 98%);
    
}

h1 {
    text-align: center;
    font-size: 60px;
    font-family: 'Pokemon Hollow', sans-serif;
    color: white;
}

.container {
    width: fit-content;
    border: 1px solid rgb(253, 253, 253);
    margin: 20px auto;
}

